.basket-section {
    width: 320px;
    height: 100%;
    position: sticky;
    top: 15px;
    flex-grow: 1;
}

.basket-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.basket-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #363534;
    border-radius: 15px;
    padding: 0 20px;
}

.basket-item-content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-separator {
    width: 100%;
    max-width: 280px;
    height: 4px;
    margin: 16px 0;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.basket-summary {
    width: 260px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.basket-summary span {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

.basket-items {
    background-color: #FDEADC;
    border-radius: 15px;
    padding: 10px;
    width: 260px;
    gap: 20px;
}

.basket-item {
    padding: 10px;
}

.checkout-button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #E76C1F;
    border: none;
    border-radius: 35px;
    color: #FFFFFF;
}

.checkout-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.empty-basket {
    display: flex;
    justify-content: center;
    background-color: #FDEADC;
    padding: 15px;
    margin-bottom: 40px;    
    border-radius: 15px;
    width: 260px;   
}

.basket-header-empty {
    margin-top: 20px;
    margin-bottom: 20px;
}

.basket-amount-price {
    display: flex;
    justify-content: space-between;
}
.counter button {
    background-color: #FDEADC;
    border: none;
    cursor: pointer;
}