.basket-section {
    margin-top: 220px;
    width: 320px;
    height: 100%;
    position: sticky;
    top: 15px;
    flex-grow: 1;
}

.basket-header {
    margin-top: 40px;
    margin-bottom: 20px;
}

.basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #363534;
    border-radius: 15px;
}

.basket-content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-separator {
    width: 100%;
    max-width: 280px;
    height: 4px;
    margin: 16px 0;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.basket-summary {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.basket-items {
    overflow-y: auto;
    overflow-x: hidden;
}

.checkout-button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    background-color: #E76C1F;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-size: 16px;
}