h1 {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: bold;
    color: #E76C1F;
}

.h1-black {
    font-family: "Palanquin Dark", sans-serif;
    font-weight: 700;
    font-size: 48px;
    font-style: bold;
    color: black;
}   


h2 {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 40px;
    font-style: bold;
    color: #FFFFFF;
}

h3 {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FDEADC;
}

h4 {
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
}

body {
    font-family: "Palanquin", sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
}

.basket-button-font {
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.basket-font {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: bold;
}

.slogan-font {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: bold;    
}

.site-footer-font {
    font-family: "Palanquin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.total-font {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 22px;
    font-style: bold;
    color: #FFFFFF;
}

.subtotal-font {
    font-family: "Palanquin", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.basket-items {
    font-family: "Palanquin", sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.empty-basket {
    font-family: "Palanquin", sans-serif;
    font: 600;
    font-size: 22px;
    color: black;
}