.site-header {
    height: 128px;
    background-color: #E76C1F;
    justify-content: center;
}

nav {
    max-width: var(--page-max-width);
    margin: 0 auto;
    height: 100%;
    padding-right: 60px;
    padding-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    height: 500px;
    background-image: url("./assets/img/hero.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(240px);
}

